body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}
.main-header {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	padding-top: 50px;
	background-color: #eeeeee;
}
.container {
	margin: 0 auto;
	padding: 0;
	max-width: 1160px;
	min-height: 100px;
	position: relative;
}
.main-navigation .main-header-logo {
	position: absolute;
}
.main-navigation .wpapper {
	display: flex;
	padding-top: 30px;
	margin-left: 380px;
	text-transform: uppercase;
}
.main-navigation .site-navigation,
.main-navigation .basket {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation .site-navigation {
	display: flex;
}
.site-navigation li {
	margin-right: 50px;
}
.site-navigation a,
.basket a {
	color: #000000;
	font-weight: 500;
}
.main-navigation .basket {
	display: flex;
	margin-left: auto;
}
.basket svg {
	margin-right: 25px;
	align-self: center;
	fill: #a6a6a6;
}
main {
	background-color: #eeeeee;
	min-width: 1200px;
}
.slider {
	position: relative;
	background-color: #eeeeee;
}
.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;  
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}
.slider-controls i {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls i::after {
	content: "";
	width: 18px;
	height: 18px;
	background: #ffffff;
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	border-radius: 50%;
}
.slider-controls .active::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%; 
}
.slider-item {
	display: none;
}
.slider-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
	max-width: 600px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}
.slider-item:nth-child(1) {
	display: block;
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 18px;
}
.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.button {
	display: block;
	width: 240px;
	padding: 13px 0;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}
.button:hover,
.button:focus {
	background-color: #e74246;
}
.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
