body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}
.main-header {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	padding-top: 50px;
	background-color: #eeeeee;
}
.container {
	margin: 0 auto;
	padding: 0;
	max-width: 1160px;
	min-height: 100px;
	position: relative;
}
.main-navigation .main-header-logo {
	position: absolute;
}
.main-navigation .wpapper {
	display: flex;
	padding-top: 30px;
	margin-left: 380px;
	text-transform: uppercase;
}
.main-navigation .site-navigation,
.main-navigation .basket {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation .site-navigation {
	display: flex;
}
.site-navigation li {
	margin-right: 50px;
}
.site-navigation a,
.basket a {
	color: #000000;
	font-weight: 500;
}
.main-navigation .basket {
	display: flex;
	margin-left: auto;
}
.basket svg {
	margin-right: 25px;
	align-self: center;
	fill: #a6a6a6;
}
main {
	background-color: #eeeeee;
	min-width: 1200px;
}
.slider {
	position: relative;
}
.slider-item {
	display: none;
}
.slider-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
	max-width: 600px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}
.slider-item:nth-child(1) {
	display: block;
}
.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}